<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Médico </h4>
                <h6 class="card-subtitle">Actualizar Información</h6>
                <form class="form-horizontal p-t-20" [formGroup]="medicoForm" (ngSubmit)="guardarDatos()">
                    <div class="form-group row" *ngIf="medicoSeleccionado">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Foto</label>
                        <div class="col-sm-9">
                            <div class="input-group" >
                                <img [src]="medicoSeleccionado.img | imagen: 'medicos'" alt="" class="w200 cursor">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="exampleInputuname3" placeholder="nombre" formControlName="nombre">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Hospital</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select name="" id="" formControlName="hospital" >
                                        <option value="">Seleccione un Hospital</option>
                                        <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9 text-center">
                            <button type="submit"
                            class="btn btn-success waves-effect waves-light block"
                            [disabled]="medicoForm.invalid">
                                <i class="fa fa-save"></i> Guardar Cambios
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="col animated fadeIn low" *ngIf="hospitalSeleccionado">
        <div class="card">
            <div class="card-body" >

                <h4 class="card-title">Hospital</h4>
                <h4 class="card-subtitle">{{hospitalSeleccionado.nombre}}</h4>

                <img [src]="hospitalSeleccionado.img | imagen:'hospitales'" alt="" class="w200 cursor animated fadeIn low">

            </div>
        </div>
    </div>
</div>