/* You can add global styles to this file, and also import other style files */

#themecolors .selector, .cursor{
    cursor: pointer;
}
#google-btn{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

}

.img-avatar{
    height: 200px;
    width: 200px;
}

Esta clase de w100 para que sea globa
.w100{
    width: 100px;
}

.avatar{
    border:0.5px solid grey;
    width: 75px;
    border-radius: 100%;
}


.fondo-modal-imagen{
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index:9999;
}

.oculto{
    display: none;
}